@model Mosaic.Models.Class;

@{
    ViewData["Title"] = "DropClass";
}

<h2>Drop a Class</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DropClass">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClassCode" class="control-label"></label>
                <input asp-for="ClassCode" class="form-control" required/>
                <span asp-validation-for="ClassCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Drop the Class" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Menu">Back to Main Menu</a>
</div>