
@{
    ViewData["Title"] = "ChangePassword";
}

<h2>Change Password</h2>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="form-control" style="border:none"> Old Password</label>
                <input id="old" type="text" class="form-control" required />
            </div>
            <div class="form-group">
                <label class="form-control" style="border:none"> New Password</label>
                <input id="new" type="text" class="form-control" required />
            </div>
            <div class="form-group">
                <input type="submit" value="Reset Password" class="btn btn-default" onclick="return validate()" />
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    function validate() {
        if (document.getElementById("new").innerHTML.localeCompare(document.getElementById("old").innerHTML)==0) {
            alert("Old and New passwords are the same!")
        }
    }

</script>