@model Mosaic.Models.Student;
@using System.Web.Helpers;

@{
    ViewData["Title"] = "CreateStudent";
}

<style>
    input:invalid {
        border:2px;
        border-color:red;
    }

    input:valid {
        border:2px;
        border-color:green;
    }
</style>

<h2>Create</h2>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateStudent" name="creatingstudent">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" required" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" required />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" required />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" required />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassOne" class="control-label"></label>
                <select asp-for="ClassOne" class="form-control" asp-items="ViewBag.ClassOne"></select>
                <span asp-validation-for="ClassOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassTwo" class="control-label"></label>
                <select asp-for="ClassTwo" class="form-control" asp-items="ViewBag.ClassTwo"></select>
                <span asp-validation-for="ClassTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="CreateStudent" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Menu">Back to Main Menu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
